
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
  }
  
.container h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  /* Disable text selection */
.articleContainer {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For older IE versions */
}

/* Disable right-click context menu */
.articleContainer {
  pointer-events: none; /* Prevents interaction */
}

.articleContent {
  pointer-events: auto; /* Re-enable interaction for specific elements if needed */
}
  
  .container ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .container li {
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .container li:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
  }
  
  .container li a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
  }
  
  .container li a:hover {
    color: #005599;
    text-decoration: underline;
  }
  
  /* Ensure Layout from @/app/dashboard/Layout is still used */