.heroImage{
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #080808;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 12px;
  margin: 20px auto;
  border-top: 0;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  opacity: 0.9;
  position: absolute;
  overflow: hidden;
  max-height: 500px;
  left:0;
  right:0;
}

.contactDetails {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.contactHeading {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.contactInfo {
  font-size: 16px;
  color: #fff;
}

.contactInfo a {
  color: #fff;
  text-decoration: none;
}

.contactInfo a:hover {
  text-decoration: underline;
}

.inputField, .textArea {
  width: 100%;
  height: 45px;
  padding: 15px;
  border-radius: 7px;
  background-color: rgba(56, 56, 56, 0.255);
  color: white;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 1rem;
}

.textArea {
  height: 150px;
  padding: 15px;
  border-radius: 7px;
  background-color: rgba(56, 56, 56, 0.75);
  color: white;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  resize: vertical;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

.textArea::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.textArea:focus {
  outline: none;
  border: 1px solid #003366;
}

.inputField::placeholder, .textArea::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  text-align: left;
}

.inputField:focus, .textArea:focus {
  outline: none;
  border: 1px solid #003366;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/*——— Contact Form ———*/
.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 40px;
  margin: 2rem auto;
  transition: opacity 1s ease-in-out;
  position: relative;
  z-index: 2;
  animation: fadeIn 2s ease forwards;

}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.successMessage {
  font-size: 1.4em;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

@media (max-width: 960px) {
  .contactForm {
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  .contactForm {
    max-width: 400px;
  }
}


.textArea {
  height: 150px;
  resize: vertical;
}

.submitButton {
  padding: 10px 20px;
  font-size: 20px;
  color: #ffffff;
  background-color: #595959;
  border: 1px solid #fff;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  align-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.submitButton:focus {
  outline: 2px solid #003366;
  outline-offset: 3px;
}

.submitButton:hover {
  background-color: #1c1c1c;
  color: white;
}