
  /* Header Styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19579f;
    padding: 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .headerLogo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navMenu {
    display: flex;
    gap: 20px;
  }
  
  .navItem {
    list-style: none;
  }
  
  .navLink {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: #3a35c9;
  }
  
  /* Main Content Styles */
  .mainContent {
    padding: 10px;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
  }
  
  .footerText {
    font-size: 16px;
    font-family: 'Inter';
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navMenu {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .mainContent {
      padding: 10px;
    }
  }

.backdrop-filter {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.bg-opacity-50 {
  background-color: rgba(107, 114, 128, 0.5);
}

  