/* Layout.module.css */

.header {
  background-color: #000000a1;
  padding: 3rem 4rem;
  padding-bottom: 1rem;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  flex-direction: row-reverse;
}

.headerLogo {
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

/* Cart and Auth Button Container on Right Side */
.rightControls {
  display: flex;
  align-items: center;
}

.cartContainer {
  position: relative;
  cursor: pointer;
  padding-right: 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid #ffffff2f;
}

.cartIcon {
  font-size: 24px;
  color: white;
}

.cartCount {
  position: absolute;
  top: -8px;
  right: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Login/Logout Button Styling */
.authButton {
  margin-left: 20px;
}

.loginLink, .logoutButton {
  font-size: 0.9rem;
  color: #fff;
  background: transparent;
  border: none;
  text-decoration: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logoutButton:hover, .loginLink:hover {
  box-shadow: 0px 1px 2px 0.5px rgba(255, 255, 255, 0.71);
  border-radius: 5px;
}


/* Bottom Row Menu Styling */
.bottomRow {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4rem;
}

.navMenu {
  display: flex;
  gap: 20px;
}

.navItem {
  list-style: none;
}

.navLink {
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  padding: 10px 5px;
  transition: color 0.3s ease;
  font-variant: small-caps;

}

.navLink:hover {
  color: #f0f0f0;
}

/* Main Content and Footer Styling */
.mainContent {
  padding: 20px;
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footerText {
  margin: 0;
  padding-bottom: 10px;
  letter-spacing: 0.2rem;
}

.footerMenu {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.footerLink {
  color: #aaa;
  text-decoration: none;
  font-size: 0.8rem;
}

.footerLink:hover {
  color: #fff;
}


.footerLogo{
  margin: auto;
  margin-bottom: 2rem;
}


/* Hover Effect */
.navLink:hover, .navLink1:hover {
  color: #9b9b9b; /* Change color on hover */
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .header {
    padding: 20px;
  }
  .navMenu {
    flex-direction: row;
    gap: 10px;
  }
  .headerTop {
    flex-direction: column;
    align-items: center;
  }
}



.section {
  padding: 0;
  overflow: hidden;
}



.funFactsContainer {
  overflow: hidden;
  position: relative;
  padding: 0 50px;

}

.funFactsWrapper {
  display: flex;
  animation: scroll 66s linear infinite;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.funFactCard {
  min-width: 300px;
  margin: 0 20px;
  background: #545454a4;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.funFactText {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}