.header {
  box-shadow: 0 3px 0px rgba(255, 255, 255, 0.4);
  padding: 3rem 4rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #000;
  margin-top: 20px;
}

.registerButton{
  min-height: 75px;
  align-content: center;
  font-size: 14px;
  text-decoration: underline;
  
}
.registerButton:hover{
  color: #003366;
}
.topHeaderContent{
  display: flex;
  position: relative;
  /* left: 10%; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.topHeaderNav{
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  gap: 2rem;
  margin: 1rem;
  min-height: 30px;
  transition: all 0.3s ease;

}

.topHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s ease;

}


.activeLink {
  border-bottom: 1px solid #fff;
}


.topHeaderNav {
  position: relative;
  display: flex;
  gap: 20px;
}



.topHeaderLink:hover {
  color: #ddd;
}

.slider {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.topHeaderLink {
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
  padding: 10px;
  transition: 0.3s ease-out;
  text-wrap: nowrap;
}

.topHeaderLink:hover {
  color: #ddd;
  border-bottom: 3px solid #fff;
  border-radius: 2px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  flex-direction: row-reverse;
}


.logoInTopHeaderImg {
  width: 80px;
  height: 80px;
  transition: max-width 0.5s ease-out;
}

.headerLogo {
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: left 0.5s ease-out, transform 0.5s ease-out;
}

/* Style for the logo when it's in the top header (after scroll) */
.logoInTopHeader {
  position: absolute;
  left: 10%; /* Start position from the left */
  top: 0;
  transition: left 0.5s ease-out; /* Smooth transition to move left */
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the logo image */
.logoInTopHeader img {
  width: 75px; /* Set logo size */
  height: 75px;
  transition: width 0.5s ease-out; /* Smooth transition for resizing */
  object-fit: contain; /* Ensure the logo scales without distortion */
}

/* Cart and Auth Button Container on Right Side */
.rightControls {
  display: flex;
  align-items: center;
}

.cartContainer {
  position: relative;
  cursor: pointer;
  padding-right: 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid #ffffff2f;
}

.cartIcon {
  font-size: 24px;
  color: white;
}

.cartCount {
  position: absolute;
  top: -8px;
  right: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Login/Logout Button Styling */
.authButton {
  margin-left: 20px;
}

.loginLink, .logoutButton {
  font-size: 0.9rem;
  color: #fff;
  background: transparent;
  border: none;
  text-decoration: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logoutButton:hover, .loginLink:hover {
  box-shadow: 0px 1px 2px 0.5px rgba(255, 255, 255, 0.71);
  border-radius: 5px;
}


/* Bottom Row Menu Styling */
.bottomRow {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4rem;
}

.navMenu {
  display: flex;
  gap: 20px;
}

.navItem {
  list-style: none;
}

.navLink {
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  padding: 10px 5px;
  transition: color 0.3s ease;
  font-variant: small-caps;

}
.navLink:focus{
  border: none;
}

.navLink:hover {
  color: #f0f0f0;
}

.custom-card {
  background-color: #003366; /* Dark blue */
  border-color: #1e40af; /* Blue border */
  color: #ffffff; /* White text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Main Content and Footer Styling */

.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the layout takes full viewport height */
}
.mainContent {
  flex-grow: 1;
  /* justify-content: center;
  display: flex; */
}


.socialLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socialIcon {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: #0070f3;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 3rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footerLogo {
  width: 80px;
  margin-bottom: 1rem;
}

.footerText {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.footerMenu {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.footerLink {
  color: #aaa;
  text-decoration: none;
  font-size: 0.8rem;
}

.footerLink:hover {
  color: #fff;
}

.bottomFooter {
  background-color: #000;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  justify-content: flex-start;
  flex-direction: row-reverse;


}

.bottomFooterNav {
  display: flex;
  gap: 20px;
  margin-right: 2rem;
  flex-direction: row-reverse;
}

.bottomFooterLink {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  text-wrap: nowrap;

}

.bottomFooterLink:hover,
.bottomFooterLink.activeLink {
  color: #ffffff;

}

.bottomFooterLink .icon {
  margin-right: 8px;
}


.navLink:hover, .navLink1:hover {
  color: #9b9b9b;
}
@media (max-width: 680px) {
  .logoInTopHeader{
    position: relative;
    left: 0; /* Start position from the left */
  }
    .topHeaderNav{
      font-size: 12px;
    }
  
}
@media (max-width: 500px) {

.bottomFooterNav {
flex-wrap: wrap;
margin-left: 2rem;
justify-content: space-between;
  }

.logoInTopHeaderImg {
  margin-right: 20px;
}

}
/* Responsive Adjustments */
@media (max-width: 1200px) {
  .header {
    padding: 20px;
  }
  .navMenu {
    flex-direction: row;
    gap: 10px;
    text-wrap: nowrap;
  }
  .headerTop {
    flex-direction: column;
    align-items: center;
  }
}



.section {
  padding: 0;
  overflow: hidden;
}



.funFactsContainer {
  overflow: hidden;
  position: relative;
  padding: 0 50px;

}

.funFactsWrapper {
  display: flex;
  animation: scroll 66s linear infinite;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.funFactCard {
  min-width: 300px;
  margin: 0 20px;
  background: #545454a4;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.funFactText {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ccc; /* Optional border for the entire tab container */
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
  font-weight: bold;
}

.tab.active {
  border-bottom: 2px solid #0070f3; /* Change this to match your active color */
  color: #0070f3; /* Optional active color */
}
