.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: transparent;

    padding: 1rem;
    border-radius: 8px;
    max-width: 780px;
    width: 100%;
  }
  
  .overlay {
    position: fixed;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .modal-close-btn, .buy-btn {
    position: absolute;
    right: 1.5rem;
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    z-index: 999;
  }

  .buy-btn:hover{
    color: blue;
  }
  .modal-close-btn:hover {
    color: rgb(152, 152, 152);
  }