.heroImg {
  background-color: #080808;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 12px;
  margin: 20px auto;
  border-top: 0;
  border-radius: 10px;
  overflow: hidden; /* Ensure anything overflowing is hidden */
  max-height: 500px; /* Set maximum height */
}
.aboutUsHero {
  background-image: url('../../../public/assets/containers.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #080808;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 12px;
  margin: 20px auto;
  border-top: 0;
  border-radius: 10px;
  overflow: hidden; /* Ensure anything overflowing is hidden */
  max-height: 500px; /* Set maximum height */
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  opacity: 0.9;
}

.serviceImage{
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #080808;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 12px;
  margin: 20px auto;
  border-top: 0;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  opacity: 0.9;
  position: absolute;
  overflow: hidden; /* Ensure anything overflowing is hidden */
  max-height: 500px; /* Set maximum height */
  left:0;
  right:0;
}

.serviceImage {
  object-fit: cover;   /* Ensure the image covers the container */
  width: 100%;          /* Make the image scale to 100% of the container */
  height: 100%;         /* Ensure the height is 100% of the container */
}


.section {
  color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  max-width: 620px;
  text-align: center;
}

.sectionTitle {
  font-size: 28px;
  margin-bottom: 16px;
  border-bottom: 2px solid #444;
  padding-bottom: 8px;
}

.sectionContent {
  line-height: 2rem;
  font-size: 18px;

}

.benefitsList {
  list-style-type: none;
  padding: 0;
  line-height: 2rem;
}

.benefitsList li {
  margin: 10px 0;
  font-size: 16px;
}



.contactButton:hover {
  background-color: #666;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}


.card {
  background-color: #f1eeee21;
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);

}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.4;
}

.MasonryContainer {
  display: flex;
  gap: 16px;
  padding-top: 19rem;
  min-width: 400px;
  justify-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: white;
}

@media (max-width: 1260px) {
  .MasonryContainer{
        flex-direction: column;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .masonryItem{
      max-width: 600px;
    }
}

.masonryItem {
  background-color: #f1eeee21;
  flex:1;
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.masonryItem:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); /* Light hover effect */

}

.joinButton {
  padding: 10px 20px;
  font-size: 20px;
  color: #ffffff;
  background-color: #595959;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-top: 2rem;
  width: 200px;
  height: 50px;
  align-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.joinButton:hover {
  background-color: #1c1c1c;
  color: white;
}
