/* Sidebar */
.aside {
    min-height: 100vh;
    background-color: #1f2937;
    padding: 1rem;
}

.aside button {
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #374151;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.aside button:hover {
    background-color: #4b5563;
}

.aside button.active {
    background-color: #3b82f6;
}

.profileDetails {
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    color: #fff;

    max-width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.profileForm{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.profileDetails h6 {
    font-size: 1rem;
    color: #b4b4b4;
}

.p {
    font-size: 1rem;
    margin-bottom: 8px;
}

.profileDetails button {
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    opacity: 0.8;
}

.btnEdit {
    background-color: #3333338d;
    color: white;
    border: none;
}

.btnEdit:hover {
    background-color: #003366;
}

.btnSave {
    background-color: #003366;
    color: white;
    border: none;
}

.btnSave:hover {
    background-color: #0056b3;
}

.btnCancel {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
}

.btnCancel:hover {
    background-color: #ffffff;
}

.profileDetails input[type="text"],
.profileDetails input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #000;
    color: white;
}

.profileDetails input[type="text"]:focus,
.profileDetails .input[type="email"]:focus {
    outline: none;
    border-color: #003366;
}

.profileDetails label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.profileDetails input:disabled {
    background-color: #616161;
    cursor: not-allowed;
}

.profileDetails div > label {
    margin-bottom: 12px;
}

.profileDetails div {
    margin-bottom: 10px;
}

.editForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profileDetails input[type="text"],
.profileDetails input[type="email"] {
    background-color: #2d2d2d;
    border: 1px solid #444;
    color: white;
}

.profileDetails input[type="text"]:focus,
.profileDetails input[type="email"]:focus {
    border: 1px solid #007BFF;
}

