/* Sidebar styles */
.sidebar {
  position: fixed;
  left: 0;
  width: 250px; /* Set a fixed width for the sidebar */
  height: 100vh;
  background-color: #000000c0;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow-y: auto;
  z-index: 1000; /* Ensure the sidebar is always on top */
  color: white;
  border-radius: 0 12px 0 0;
  border: 1px solid #003366;
}

.filterGroup {
  margin-bottom: 1.5rem;
}

.buttonGroup {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}

/* Content area that holds the cards */
.content {
  margin-left: 250px; /* Make space for the sidebar */
  padding: 20px;
  color: white;
  transition: margin-left 0.3s ease;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Reduce sidebar width on smaller screens */
  }

  .content {
    margin-left: 200px; /* Adjust content area width accordingly */
  }
}
