@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #003366; /* Define your primary color */
  --foreground-rgb: 255, 255, 255; /* White for text */
  --background-start-rgb: 0, 0, 0; /* Start with black */
  --background-end-rgb: 0, 0, 0;   /* End with black */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input{
  border-radius: 8px;
}
.bg-blue-500{
  background-color: #003366;
}

.fixed {
  z-index: 1000;
}

select{
  color:black;
}

.content-container {
  max-height: 25rem;
  overflow: scroll;
}

button {
  background-color: #003366;
}

:focus {
  border: 1px solid var(--primary-color);
}
