@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #003366;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input{
  border-radius: 8px;
}
.bg-blue-500{
  background-color: #003366;
}

.fixed {
  z-index: 1000;
}

select{
  color:black;
  padding:10px;
}

.content-container {
  max-height: 25rem;
  overflow: scroll;
}

:focus {
  border: 1px solid var(--primary-color);
}

input {
  padding: 10px;
}

.video-container, .video-container-2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  no-repeat center center;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 300px;
  max-height: 880px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.video-container-2 {
  max-height: 480px;
  min-height: 300px;
}

.video-container h2, .video-container-2 h2 {
  font-size: 3.5rem;
  font-weight: 900;
  text-align: left;
  
}

.video-container h4, .video-container-2 h4 {
  font-size: 2rem;
  font-weight: 100;
  max-width: 1000px;
  text-align: left;
  margin-bottom: 3rem;
}

.customer-promise-label, .customer-promise-label-2 {
  max-width: 1000px;
}




.first-hero-section {
  padding-top: 200px;
  margin-bottom: 20px;
}

.background-video, .background-video-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.background-video {
  margin-left: 300px;
}
.background-video {
  transform:rotate(-1deg);
}

.content {
  position: relative;
  color: white;
  text-align: center;
  z-index: 1;
}
@media (max-width: 768px) {
  .video-container, .video-container-2 {
    padding: 2rem;
    height: fit-content;
  }
  .customer-promise-label-2 {
    padding: 0 2rem;
    
  }
  .video-container h2, .video-container-2 h2 {
    font-size: 2.0rem;
  }
  .video-container h4, .video-container-2 h4 {
    font-size: 1.5rem;
  }
  .first-hero-section {
    padding-top: 20px;
  }
  .background-video {
    margin-left: 0;
  }
}